@import url('https://fonts.googleapis.com/css?family=Raleway:600italic,400,700,500,400italic,600,500italic,800|Open+Sans:400,700,600,800|Inter:400,500|Roboto:400,300');
@import url('./bootstrap.min.css');

.title {
    font-family: Raleway;
    font-size: 96px;
    font-weight: 600;
    line-height: 113px;
    letter-spacing: normal;
    text-align: left;
    color: #FFE604;

}

h2 {
    font-family: Raleway;
    font-size: 48px;
    font-weight: 600;
    line-height: 56px;
    letter-spacing: normal;
    text-align: left;
    color: #FFFFFF;

}

p {
    font-family: Raleway;
    font-size: 24px;
    font-weight: 600;
    line-height: 26px;
    letter-spacing: normal;
    text-align: left;
    color: #FFFFFF;
}

.flex {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    margin: 24px 0px;
    gap: 50px;
}
.landing-page-p{
    font-weight: 400;
    font-size: 18px;
    letter-spacing: normal;
}
.loginBtn {
    background: #FF0000;
    border-radius: 5px;
    text-decoration: none;
    padding: 10px;
    color: #FFFFFF;
    width: 240px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: normal;
}

.loginBtn:hover {
    background: darkred;
    text-decoration: none;
    color: #FFFFFF;
}


.contactBtn {
    font-weight: 900;
    border-radius: 5px;
    text-decoration: none;
    padding: 10px;
    border: 3px solid white;
    color: white;
    background-color: transparent;
    width: 240px;
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: normal;
}


.contactBtn:hover {
    text-decoration: none;
    border-color: red;
    background-color: yellow;
    color: black;
}


.welcome {
    color: #CA2C2C;
    font-family: Raleway;
    font-size: 27px;
    font-weight: 600;
    line-height: 56px;
    letter-spacing: normal;
    text-align: left;
}



.input,
.input:focus {
    box-shadow: none !important;
    border: 2px solid #FFE604;
    border-radius: 5px;
    height: 40px;
    max-width: 300px;
    width: 280px;
    padding-left: 10px;
}

label>input[type="checkbox"] {
    display: none;
}

label>input[type="checkbox"]+*::before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 1rem;
    height: 1.1rem;
    margin-right: 4px;
    border-radius: 10%;
    border-style: solid;
    border-width: 0.1rem;
    border-color: #FFE604;
}

label>input[type="checkbox"]:checked+*::before {
    color: white;
    text-align: center;
    background: #FFE604;
    border-color: #FFE604;
}

.card {
    background: #FFECC8;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    width: 300px;
    height: 350px;
    display: flex;
    align-items: center;
    padding: 20px;
    padding-bottom: 30px;
}

.card .title {
    font-family: Raleway;
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    letter-spacing: normal;
    text-align: center;
    color: black;
}

.card .desc {
    font-family: Raleway;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: normal;
    text-align: left;
}


.screen a {
    display: contents;
    text-decoration: none;
}

.container-center-horizontal {
    display: flex;
    flex-direction: row;
    justify-content: center;
    pointer-events: none;
    width: 100;
}

.container-center-horizontal>* {
    flex-shrink: 0;
    pointer-events: auto;
}

.landing-page {
    background-image: url('../images/landingpage.png');
    background-position: 50 50;
    background-size: cover;
    border: 1px none;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    width: 100%;
    height: 100vh;
}

.services {
    background-image: url('../images/services.png');
    background-position: 50 50;
    background-size: contain;
    border: 1px none;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    width: 100%;
    height: 100vh;
}

.home-header {
    background-image: url('../images/landingpage.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: center;
    border: 1px none;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    width: 100%;
    height: 80vh;
}

.link-text-home {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 28px;
    text-align: center;
    color: #F31D1D;
    background-color: white;
    margin: 5px;
    border-radius: 10px;
    letter-spacing: normal;
}

.link-text {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    font-size: 16px;
    line-height: 28px;
    line-height: 28px;
    text-align: center;
    color: white;
    margin: 5px;
    border-radius: 10px;
}
.link-text:hover{
    border: 2px solid white;
    background-color: #CA2C2C;
    color: #fff;
}
.footer {
    height: 300px;
    background: #CA2C2C;
    backdrop-filter: blur(99.5px);
}

.texts{
    letter-spacing: normal;
}

.card-greeting{
    letter-spacing: normal;
}
.createAccount{
    font-size: 16px;
    letter-spacing: normal;
}
.slides{
    display: flex;
    flex-direction: row;
}



/* buka component */


.me-auto{
    display: flex ;
    color: white;
    justify-content: space-evenly;
    background: #F31D1D !important; 
    marginTop: 20px ;
    /* height: 80px; */
    color: white;
}




.auth-bg{
    background-color: grey;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-content: center;

}
.verification-modal{
    margin: auto;
    background-color: white;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
    height: 50%;
    padding: 50px;
}
.verification-modal h1{
    color: #CA2C2C;
    letter-spacing: normal;
    text-transform: none;
}
.verification-modal p{
    color: grey;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 0;
}
.otpField{
    margin-top: 30px;
}
.otpInput{
    width: 40px;
    height: 40px;
    border: none;
    border-bottom: 3px solid #CA2C2C;
    margin: 0 10px;
}




/* donations */
.donation-modal{
    margin: auto;
    background-color: white;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
    height: 40%;
    padding: 50px;
}
.donation-modal h1{
    color: #CA2C2C;
    letter-spacing: normal;
    text-transform: none;
}
.donation-modal p{
    color: grey;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 0;
}
.donation-btns{
    margin-top: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5%;
    margin-bottom: 10px;
}

.donation-modal-var1{
    margin: auto;
    background-color: white;
    color: black;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    width: 70%;
    height: 70%;
    padding: 50px 100px;   
    text-align: left;
}
.donation-modal-var1 p{
    color: #CA2C2C;
    font-weight: 14px !important;
}
.card-info{
    display: grid;
    flex-direction: column;
}
.card-info-content{
    display: grid;
    /* flex-direction: column; */
    grid-template-columns: 1fr;
    gap: 5%;
}
.card-info p{
    font-size: 16px;
    color: black;
}
.donationAmount{
    background-color: #FFECC8;
    height: 80px;
    padding-left: 40px;
    margin-bottom: 20px;
}
.donationAmount p{
    margin-bottom: 2px;
    color: black;
    font-size: 14px;
}
.inputAlt{
    box-shadow: none !important;
    border: none;
    border-radius: 5px;
    height: 40px;
    max-width: 300px;
    width: 80px;
    padding-left: 10px;
}

.donation-modal-var2{
    margin: auto;
    background-color: white;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
    height: 70%;
    padding: 50px;
}
.donation-modal-var2 h1{
    color: #CA2C2C;
    letter-spacing: normal;
    text-transform: none;
}
.donation-modal-var2 p{
    color: grey;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 0;
}
.donation-addresses{
    margin-top: 20px;
}
.donation-address{
    background-color: #FFECC8;
    padding: 5px 20px;
    display: grid;
    grid-template-columns: 20% 80%;
    margin: 8px 0; 
}
.donation-address h3{
    letter-spacing: normal;
    text-transform: none;
    margin-bottom: 0;
    font-size: 18px;
}
/* .donation-address div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} */